/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2018, 08:57:08 AM
    Author     : Enoc
*/
.detalles
{
    
background: rgba(241,231,103,1);
background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

 .ho{background: rgba(252,234,187,1);
background: -moz-linear-gradient(left, rgba(252,234,187,1) 2%, rgba(252,230,171,1) 7%, rgba(252,205,77,1) 36%, rgba(248,181,0,1) 54%, rgba(251,223,147,1) 81%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(2%, rgba(252,234,187,1)), color-stop(7%, rgba(252,230,171,1)), color-stop(36%, rgba(252,205,77,1)), color-stop(54%, rgba(248,181,0,1)), color-stop(81%, rgba(251,223,147,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(left, rgba(252,234,187,1) 2%, rgba(252,230,171,1) 7%, rgba(252,205,77,1) 36%, rgba(248,181,0,1) 54%, rgba(251,223,147,1) 81%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(left, rgba(252,234,187,1) 2%, rgba(252,230,171,1) 7%, rgba(252,205,77,1) 36%, rgba(248,181,0,1) 54%, rgba(251,223,147,1) 81%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(left, rgba(252,234,187,1) 2%, rgba(252,230,171,1) 7%, rgba(252,205,77,1) 36%, rgba(248,181,0,1) 54%, rgba(251,223,147,1) 81%, rgba(251,223,147,1) 100%);
background: linear-gradient(to right, rgba(252,234,187,1) 2%, rgba(252,230,171,1) 7%, rgba(252,205,77,1) 36%, rgba(248,181,0,1) 54%, rgba(251,223,147,1) 81%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
   
 }
 .detalles1
 {
background: rgba(244,255,194,1);
background: -moz-linear-gradient(top, rgba(244,255,194,1) 14%, rgba(244,255,194,1) 26%, rgba(251,223,123,1) 79%, rgba(254,212,98,1) 98%);
background: -webkit-gradient(left top, left bottom, color-stop(14%, rgba(244,255,194,1)), color-stop(26%, rgba(244,255,194,1)), color-stop(79%, rgba(251,223,123,1)), color-stop(98%, rgba(254,212,98,1)));
background: -webkit-linear-gradient(top, rgba(244,255,194,1) 14%, rgba(244,255,194,1) 26%, rgba(251,223,123,1) 79%, rgba(254,212,98,1) 98%);
background: -o-linear-gradient(top, rgba(244,255,194,1) 14%, rgba(244,255,194,1) 26%, rgba(251,223,123,1) 79%, rgba(254,212,98,1) 98%);
background: -ms-linear-gradient(top, rgba(244,255,194,1) 14%, rgba(244,255,194,1) 26%, rgba(251,223,123,1) 79%, rgba(254,212,98,1) 98%);
background: linear-gradient(to bottom, rgba(244,255,194,1) 14%, rgba(244,255,194,1) 26%, rgba(251,223,123,1) 79%, rgba(254,212,98,1) 98%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ffc2', endColorstr='#fed462', GradientType=0 );
 }
 
 .floating-box {
    display: inline-block;
    border: 3px solid #73AD21;  
}

.logon
{
    background-image: url(on.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

main {
  width: 80%;
  margin: auto;
}

#modal {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
}
#modal p {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}

#mostrar-modal {
  display: none;
}
#mostrar-modal + label {
  background: steelblue;
  display: table;
  margin: auto;
  color: #fff;
  line-height: 3;
  padding: 0 1em;
  text-transform: uppercase;
  cursor: pointer;
}
#mostrar-modal + label:hover {
  background: #38678f;
}
#mostrar-modal:checked ~ #modal {
  top: 0;
}
#mostrar-modal:checked ~ #cerrar-modal + label {
  display: block;
}

#cerrar-modal {
  display: none;
}
#cerrar-modal + label {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 100;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background: tomato;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  display: none;
  transition: all .5s;
}
#cerrar-modal:checked ~ #modal {
  top: -100vh;
}
#cerrar-modal:checked + label {
  display: none;
}
.oculto
{
    visibility: hidden;
}

#d1{ 
    width: 90%; 
    height:  100%; 
    margin: 0 auto; 
    position: absolute; 

} 

#d1c{ 
    width: 40%; 
    height:100%;
    float:left; 

} 

#d2c{ 
    width: 40%; 
      height:100%;
    margin: auto; 
    float:left; 

}
#espacio
{
    width: 10%; 
    height:100%;
    margin: auto; 
    float:left; 
}

  
.popup {
   display: none;
   opacity: 0;
   margin-top: -300px;
  
}
.popup:target {
   display: block;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
  overflow: auto;
  position: relative;
  margin:7% auto;
  padding:30px 50px;
  background-color: #fafafa;
  color:#333;
  border-radius: 3px;
  width:50%;
  height: auto;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
.oculta
    {
        display: none;
    }
    
.popup1 {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
  
}
.popup1:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor1 {
    overflow: auto;
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
   height: 70%;
}
a.popup-cerrar1 {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}